<!-- Top Starts -->
<div class="top">

  <!-- Header Starts -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="logo">
            <h1><a href="http://levar.me">Levar.<span class="tblue">me</span></a></h1>
          </div>
        </div>
        <div class="navigation pull-right">
          <a href="#howitworks"><%=t :howitworks %></a>
        </div>
      </div>
    </div>
  </header>
  <!-- Header Ends -->

  <!-- Hero starts -->
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="intro">
            <h2><%=t :ridesharing %><span class="tblue">.</span> <%=t :cabsharing %><span class="tblue">.</span> <%=t :toparties %><span class="tblue">.</span></h2>
            <p><%=t :first_title %></p><br>
            <%= form_for(@registered, :url => {:action => 'create'}, :html => { :class => "form-register" }) do |e| %>
                <div class="input-append">
                  <%= e.text_field :email, :maxlength => 50, :placeholder => 'Insert your email to join the beta', :class => 'span2' %>
                  <%= e.submit :class => 'btn btn-success', :value => 'Join' %>
                </div>
                <% if flash[:error] -%>
                    <p style="color: #da4f49">
                      <%=h flash[:error] %>
                    </p>
                <% end -%>
                <% if flash[:success] -%>
                    <p style="color: #5cb85c">
                      <%=h flash[:success] %>
                    </p>
                <% end -%>
          <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero ends -->


</div>
<!-- Top Ends -->

<!-- Shots starts -->
<div class="shots" id="howitworks">
  <div class="container">
    <!-- shot1-->
    <div class="row">
      <div class="col-md-4">
        <div class="screenshot">
          <%= image_tag 'f2.png', :class => 'img-responsive' %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="shotcontent">
          <h3><%=t :tap_event %> <span class="text-muted"> <%=t :see_who %></span></h3>
          <p class="shot-para"><%=t :levar_shows %></p>
          <p class="shot-para"><%=t :tap_someone %></p>
          <p class="shot-para"><%=t :thats_it %> </p>
          <hr>

        </div>
      </div>

    </div>
    <hr>
    <!-- shot1 ends -->

    <!-- shot2 -->
    <div class="row">
      <div class="col-md-8">
        <div class="shotcontent">
          <h3><%=t :cheaper %> <span class="text-muted"> <%=t :experience %></span></h3>
          <p class="shot-para"><%=t :however_decide %> </p>
          <p class="shot-para"><%=t :by_connecting %> </p>
          <p class="shot-para"> <%=t :sharing_cab %> </p>
          <hr>
        </div>
      </div>
      <div class="col-md-4">
        <div class="screenshot">
          <%= image_tag 'f3.png', :class => 'img-responsive' %>
        </div>
      </div>
    </div>
    <hr>
    <!-- shot2 ends -->

    <!-- shot3 -->
    <div class="row">
      <div class="col-md-4">
        <div class="screenshot">
          <%= image_tag 'f4.png', :class => 'img-responsive' %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="shotcontent">
          <h3><%=t :sounds_fun %><span class="text-muted"> <%=t :offer_rides %></span></h3>
          <p class="shot-para"> <%=t :drivers_welcome %> </p>
          <p class="shot-para"><%=t :gone_out %> </p>
          <p class="shot-para"><%=t :interested %> </p>
          <hr>
        </div>
      </div>

    </div>
    <!-- shot3 ends -->
    <hr>
  </div>

</div>

<!-- Shots Ends -->

<!-- Footer starts -->
<footer>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="copy text-center">
          Copyright © 2013 - Levar.me - All rights reserved
        </div>
      </div>
    </div>

  </div>
</footer>
<!-- Footer Ends -->

<!-- Smooth anchor -->
<script>

    $(document).ready(function(){

        $('a[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash,
                    $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });

    });

</script>