<div class="container">
  <h1 class="site-heading">Levar.<span style="color: #91D8F7">me</span></h1>

  <p class="description">We are building our awesome new app.<br>Submit your email to subscribe for news.</p>

  <%= form_for(@registered, :url => {:action => 'create'}, :html => { :class => "subscribe-form form-inline", :id => "subscribe-form" }) do |e| %>
      <%= e.text_field :email, :maxlength => 50, :placeholder => 'Email', :id => "subscribe-email", :class => "subscribe-email" %>
      <div class="subscribe-submit-container">
        <%= e.submit :class => "subscribe-submit btn btn-large btn-inverse", :id => "subscribe", :value => "SUBSCRIBE" %>
      </div>
      <% if flash[:error] -%>
          <p id="subscribe-tooltip" class="subscribe-tooltip error" style="display: block;">
              <%=h flash[:error] %>
          </p>
      <% end -%>
      <% if flash[:success] -%>
          <p id="subscribe-tooltip" class="subscribe-tooltip success" style="display: block;">
              <%=h flash[:success] %>
          </p>
      <% end -%>
  <% end %>

  <% if flash[:notice] -%>
      <p class='notice'><%=h flash[:notice] %></p>
  <% end -%>

  <!-- Countdown -->
  <div id="countdown" class="countdown">
    <div class="countdown-item">
      <div class="countdown-number countdown-days"></div>
      <div class="countdown-text">days</div>
    </div>

    <div class="countdown-item">
      <div class="countdown-number countdown-hours"></div>
      <div class="countdown-text">hours</div>
    </div>

    <div class="countdown-item">
      <div class="countdown-number countdown-minutes"></div>
      <div class="countdown-text">minutes</div>
    </div>

    <div class="countdown-item">
      <div class="countdown-number countdown-seconds"></div>
      <div class="countdown-text">seconds</div>
    </div>
  </div>
  <!-- /Countdown -->
</div>